@* 10. Part 5 *@
@model ParksModels.Dtos.TrailCreateDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create Trail</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DifficultyType" class="control-label"></label>
                @*<input asp-for="DifficultyType" class="form-control" />*@
                <select asp-for="DifficultyType" class="form-control" asp-items="@Html.GetEnumSelectList<ParksModels.Enums.DifficultyType>()">
                    <option value="" selected>Select Difficulty Type ...</option>
                </select>
                <span asp-validation-for="DifficultyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalParkId" class="control-label">National Park</label>
                @*<input asp-for="NationalParkId" class="form-control" />*@
            <select asp-for="NationalParkId" class="form-control" asp-items="@ViewBag.NationalParksSelectList">
                <option value="" selected>Select National Park ...</option>
            </select>
                <span asp-validation-for="NationalParkId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
